language: go
go:
  - 1.5.4
  - 1.6.3
  - 1.7.1
dist: trusty
sudo: required
addons:
  apt:
    packages:
      - mysql-server-5.6
      - mysql-client-core-5.6
      - mysql-client-5.6
cache:
  directories:
    - ./.bin
    - ./vendor
env:
  global:
    - GO15VENDOREXPERIMENT=1
    - MYSQL_USER=root
    - MYSQL_PASSWORD=
    - MYSQL_HOST=127.0.0.1
    - MYSQL_PORT=3306
    - MYSQL_DATABASE=kamimai
before_install:
  - mysql -e "CREATE DATABASE IF NOT EXISTS kamimai;" -uroot
  - make init
script:
  - make unit-report
after_success:
  - bash <(curl -s https://codecov.io/bash)
